*{
  padding: 0px;
  margin: 0px;

}

*{
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}


header{
   background-color: #492868;
   height: 200px;
   display: flex;
   justify-content: center;
}

div.container{
   width: 980px;
   background-color: black;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.a, .b, .c, .d, .e, .f{
   width: 100px;
   height: 100px;
text-align: center;   
vertical-align: baseline;

}

.a{
   background-color: red;
}

.b{
   background-color: yellow;
}

.c{
   background-color: violet;
}

.d{
   background-color: green;
}

.e{
   background-color: cyan;
}

.f{ 
 background-color: blueviolet;
}

